
/* afew part start */
#afew{
    padding-top: 76px;
    p{
        color: #676767;
    }
}
.afew_right{
    width: 567px;
    h4{
        color: #676767;
        font-weight: 500;
    }
}
.afew_down{
    display: flex;
    padding-top: 30px;
}
.afew_text{
    padding-left: 20px;
}
/* afew part end */
