
/* banner3 part start */
#banThree{
    padding: 133px 0;
    background: url(../images/banner3.jpg) no-repeat center / cover;
    h2,h3{
        font-family: 'Inter', sans-serif;
        font-size: 65px;
        font-weight: 700;
    }
    h3{
        color: #F47606;
    }
    p{
        width: 402px;
        color: #676767;
    }
    a{
        background-color: #477018;
    }
}
/* banner3 part end */
