
/* kitchen part start */
#kitchen{
    padding-top: 80px;
}
.kitchen_item{
    padding: 73px 0;
    padding-left: 32px;
    background: url(../images/kitchen1.jpg) no-repeat center / cover;
    a{
        color: #F47606;
        text-decoration: underline;
    }
}
/* kitchen part end */
