
/* live_healthy part start */
#live_healthy{
    padding-top: 130px;
}
.live_healthy_main{
    background: url(../images/live_healthy.jpg) no-repeat center / cover;
    padding: 92px 0;
    padding-left: 104px;
    p{
        width: 402px;
        margin-right: auto;
        color: #676767;
        margin-top: 20px;
    }
    .a_btn{
        background-color: #477018;
    }
}
/* live_healthy part end */
