
/* off part start */
#off{
    padding-top: 80px;
}
.off_item{
    padding: 125px 0;
    h4{
        font-weight: 500;
        padding-left: 53px;
    }
    h2{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        padding-left: 53px;
    }
    a{
        color: #F47606;
        text-decoration: underline;
        padding-left: 53px;
    }
}
/* off part end */
