
/* Related part start */
#Related{
    padding-top: 130px;
    .trending_icon{
        padding-top: 30px;
    }
    .trending_text{
        h4{
            margin-top: -2px;
        }
    }
}
/* Related part end */
