
/* top_rated part start */
#top_rated{
    padding-top: 130px;
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #222;
        background-color: transparent;
        .top_rated_btn{
            h3{
                &::after{
                    opacity: 1;
                }
            }
        }
    }
    .nav_btn{
        width: 246px;
    }
    .top_rated_btn{
        h3{
            font-weight: 700;
            line-height: 30px;
            color: #222;
            display: inline-block;
            position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: calc(100% - 0px);
                    height: 2px;
                    background-color: #F47606;
                    opacity: 0;
                    transition: 0.5s;
                }
        }
    }
    .top_rated_image{
        height: 230px;
        position: relative;
        border-radius: 25px; 
    }
    .top_rated_icon{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        color: #FFAE00;
    }
    .top_rated_text{
        h4{
            margin-top: 20px;
        }
        h5{
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #969696;
        }
    }
}
/* top_rated part end */
